.animated-logo {
    cursor: pointer;
    display: inline-block;
}

.logo-container {
    width: 48px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    width: 18px;
    height: 18px;
    background-color: var(--text-color);
    position: absolute;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.square-top-left,
.square-top-right,
.square-bottom {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.logo-container.hovered .square-top-left {
    transform: translate(-75%, -75%) rotate(45deg);
}

.logo-container.hovered .square-top-right {
    transform: translate(75%, -75%) rotate(45deg);
}

.logo-container.hovered .square-bottom {
    transform: translate(-75%, 75%) rotate(45deg);
}