.navbar {
    position: fixed;
    background-color: var(--bg-color);
    z-index: var(--z-navbar);
    top: 0;
    left: 0;
    right: 0;
    padding: var(--space-lg) var(--space-xl);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.navbar-logo .logo-placeholder{
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
}

.navbar-links {
    display: flex;
    gap: 0.75rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-links a {
    color: var(--text-color);
    font-family: var(--font-secondary);
    font-style: italic;
} 

.theme-toggle .toggle-placeholder {
    width: 50px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid var(--border-color);
    background-color: #000000;
}